<% content_for (:html_title) { @user.username } %>

<div class="content">
  <h1><%= @user.username %></h1>
  <p><strong>Email: </strong><%= @user.email %></p>
  <p><strong>Bio: </strong><%= @user.bio %></p>


  <% if @user.created_places.length > 0 %>
    <p><strong>Places created:</strong></p>
    <ul>
      <% @user.created_places.each do |place|  %>
      <li><%= link_to place.name, place   %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @user.places.length > 0 %>
    <p><strong>Places liked:</strong></p>
    <ul>
      <% @user.places.each do |place|  %>
        <li><%= link_to place.name, place   %></li>
      <% end %>
    </ul>
  <% end %>
</div>