<div class="content">
  <p class="mb-5">
    Found <%= pluralize(@places.length, 'Place') %> found when search for "<%= params[:keywords]%>"
    <% if @type %>
      , type: "<%= @type.name %>"
    <% end %>
  </p>

  <table class="table">
    <%= render 'header' %>
    <tbody>
    <%= render @places %>
    </tbody>
  </table>
</div>
