<nav class="navbar mb-2" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <%= image_tag asset_path('places_logo.png'), alt: "Places logo" %>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="<%= about_path %>">
        About
      </a>


      <a class="navbar-item" href="<%= places_path %>">
        Places
      </a>

      <a class="navbar-item" href="<%= users_path %>">
        Users
      </a>

      <a class="navbar-item" href="<%= types_path %>">
        Types
      </a>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= form_with(url: search_places_path, method: :get, local: true) do |f| %>
            <div class="field is-grouped mb-5">
              <div class="control is-expanded">
                <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search for places") %>
              </div>
              <div class="select">
                <%= f.collection_select :type, Type.all, :id, :name, prompt: true %>
              </div>
              <div class="control">
                <%= submit_tag("Search", class: "button is-primary") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>